.sidebar {
  width: fit-content; 
  background: linear-gradient(180deg, #244D52, #1A3A3F, #0F2426); 
  color: #FFFFFF; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 2px 0 8px rgba(0,0,0,0.03);
  position: fixed;
  top: 0px; 
  left: 0;
  height: 100vh;
  z-index: 900;
  border-right: 2px solid;
  border-image: radial-gradient(circle, #53C1DE, #00C2FF) 1; 
}

.sidebar-item{
  position: relative;
  top: 74px;
  align-items: center;
  padding: 7% 10%;
  margin: 9% 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2em;
  width: 160px;
  display: block;
  border-radius: 8px;
  font-family: 'Orbitron', sans-serif;
}

.sidebar-item.active, .sidebar-item:hover {
  background-color: rgba(83, 193, 222, 0.15); /* Light blue with transparency */
  color: #53C1DE; /* Light blue text */
  transition: 0.5s
}

.sidebar-item span{
  color: #FFFFFF; /* White text */
  text-decoration: none;
  transition: 0.5s;
}

.sidebar-item span:hover {
  color: #53C1DE; /* Light blue on hover */
  text-decoration: dashed;
}


/* ###########################Responsive Styles#################################### */
/* @media (max-width: 768px) {
  .sidebar {
    width: fit-content;
    padding-top: 4%;
    top: 0px; 
    height: 100vh;
  }

  .sidebar-item {
    font-size: 1em;
    width: fit-content; 
    padding: 4% 6%; 
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: fit-content; 
    padding-top: 3%; 
    top: 0px; 
    height: 100vh; 
  }

  .sidebar-item {
    font-size: 0.9em;
    width: fit-content;
    padding: 3% 4%; 
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: fit-content;
    top: 0px;
    height: 100vh;
  }
} */