/* Using variables from the new color scheme for consistency */
:root {
  --primary-color: #5a8dff;
  --secondary-color: #3585ff;
  --accent-color: #c57bff;
  --text-light: #ffffff;
  --text-dark: #cfd6e0;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  align-items: center;
  z-index: 1000;
  background: transparent;
  color: var(--text-light);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.header-left-group {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally centers the items */
  justify-content: center;
}

.header-logo {
  display: flex;
  align-items: center;
  z-index: 1001;
  position: relative;
}

.header-logo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.header-app-name {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #c57bff;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 5px;
}

.header-user-info {
  display: flex;
  align-items: center;
  z-index: 1100;
}

.hamburger {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 2em;
  cursor: pointer;
  margin-left: 0.5%;
}

@media (max-width: 768px) {
  .top-header {
    height: 50px;
  }
  
  .header-left-group {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .header-app-name {
    display: none;
  }
  
  .hamburger {
    display: block;
    position: static;
    margin-right: 15px;
  }
  
  .header-logo {
    margin-left: auto;
  }
  
  .header-logo img {
    width: 100px;
    height: 100px;
    top: 1vh;
  }
  
  .header-user-text {
    display: none;
  }
  
  .header-user-info {
    right: 8px;
    padding-right: 0;
  }
  
  .user-avatar.user-avatar-circle {
    width: 38px !important;
    height: 38px !important;
  }
  
  .logout-dropdown {
    top: 45px;
    right: 8px;
  }
}

@media (max-width: 480px) {
  .header-logo {
    left: 8px;
  }
  
  .header-app-name {
    font-size: 1em;
  }
}